@model IEnumerable<IMDB.Models.Cinema>

@{
    ViewBag.Title = "Index";
}

<h2>All Cinemas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
           Name
        </th>
        <th>
            Founding date
        </th>
        <th>
            Net worth
        </th>
        <th>
            CEO
        </th>
        <th>
            Rating
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        
        <img src=" @Html.DisplayFor(modelItem => item.ImageURL)" height="165" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CinemaName)
        
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FoundingDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NetWorth) mil.
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CEO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rating) / 10
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.CinemaId }) |
        @Html.ActionLink("Details", "Details", new { id = item.CinemaId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CinemaId })
    </td>
</tr>
}

</table>
