@model IEnumerable<IMDB.Models.Company>

@{
    ViewBag.Title = "Index";
}

<h2>All Companies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
           Name
        </th>
      
        <th>
            Nat worth
        </th>
        <th>
           Founding date
        </th>
        <th>
           Country
        </th>
        <th>
            Annual income
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
       
        <img src=" @Html.DisplayFor(modelItem => item.ImageURL)" height="165"  />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CompanyName)
       
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.NetWorth) mil.
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FoundingDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Country)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AnnualIncome) mil.
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.CompanyId }) |
        @Html.ActionLink("Details", "Details", new { id = item.CompanyId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.CompanyId })
    </td>
</tr>
}

</table>
