@model IEnumerable<IMDB.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>All Movies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            Title
        </th>
        <th>
            Director
        </th>
        <th>
           Company
        </th>
        <th>
            Cinema
        </th>
        <th>
            Runtime
        </th>
        <th>
            Genre
        </th>
        <th>
            Budget
        </th>
        <th>
            Release date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
       
        <img src=" @Html.DisplayFor(modelItem => item.ImageURL)" height="165"  />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MovieTitle)
        
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Director.DirectorName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Company.CompanyName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cinema.CinemaName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Runtime) min.
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Genre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Budget) mil.
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReleaseDate)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MovieId }) |
        @Html.ActionLink("Details", "Details", new { id = item.MovieId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MovieId })
    </td>
</tr>
}

</table>
